.card {
    position: relative;
    cursor: pointer;
  }
  .cardIcon {
    font-size: 25px;
  }
  .card span {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    background-color: #000;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
  }
  
  /* card item */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 77;
  }
  .cartItem {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    z-index: 88;
  }