.fixed-top {
    margin-bottom: -5%;
    justify-content: space-around;
}
.navbar-nav {
    margin: auto;
    font-weight: 500;
}
.nav-item {
    margin-left: 5%;
}
.imgss {
    padding-left: 1rem;
    padding-top: 1rem;
}